fieldset[part] {
	display: flex;
	flex-direction: column;
	gap: var(--wa-space-xl) 0;
	padding: var(--wa-space-m) var(--wa-space-s);
	margin: 0;
	font-weight: var(--wa-font-weight-semibold);
	border: 1px solid
		light-dark(var(--wa-color-neutral-90), var(--wa-color-neutral-10));
	border-radius: var(--wa-border-radius-l);

	.widget-fieldset__description {
		font-size: var(--wa-input-help-text-font-size-medium);
		color: var(--wa-input-help-text-color);
	}

	& & {
		transition: box-shadow var(--wa-transition-medium);

		&:hover {
			/* background: var(--wa-color-neutral-95); */
			box-shadow: var(--wa-shadow-l);
		}
	}

	legend {
		/* font-size: var(--wa-font-size-large); */
	}

	&.level-0 {
		legend {
			font-size: var(--wa-font-size-2x-large);
			font-weight: 200;
		}

		wa-card::part(body) {
			/* background-color: slcolo; */
		}
		/* --wa-panel-background-color: var(--wa-color-neutral-95); */
	}

	&.level-1 {
		legend {
			font-size: var(--wa-font-size-x-large);
			font-weight: var(--wa-font-weight-light);
		}

		wa-card::part(header) {
			/* background-color: var(--wa-color-neutral-95); */
		}
		/* --wa-panel-background-color: var(--wa-color-neutral-95); */
	}

	&.level-2 {
		legend {
			font-size: var(--wa-font-size-large);
			font-weight: var(--wa-font-weight-light);
		}

		wa-card::part(header) {
			/* background-color: var(--wa-color-neutral-90); */
		}

		/* --wa-panel-background-color: var(--wa-color-neutral-90); */
	}

	&.level-3 {
		legend {
			font-size: var(--wa-font-size-medium);
			font-weight: var(--wa-font-weight-bold);
		}

		wa-card::part(header) {
			/* background-color: var(--wa-color-neutral-80); */
		}
		/* --wa-panel-background-color: var(--wa-color-neutral-80); */
	}
}
