.theme-webawesome.widget-array {
	.widget-array__card {
		// width: 100%;
		// transition: outline var(--wa-transition-slow);

		transition: box-shadow var(--wa-transition-medium);

		&:hover {
			// background: var(--wa-color-neutral-95);
			box-shadow: var(--wa-shadow-l);
		}

		&[data-dropzone] {
			border-radius: var(--wa-border-radius-m);
			outline: 1px solid var(--wa-color-brand-50);
			// transition: outline var(--wa-transition-fast);

			// cursor: grab;

			* {
				pointer-events: none;
			}
		}
	}

	wa-card::part(body) {
		padding: var(--wa-space-m) var(--wa-space-s);
	}

	.widget-array__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-size: 0.8em;
		user-select: none;
		//// wa-icon::pa {
		//// 	height: 0.2rem;
		//// }
		//// display: none;

		wa-tag::part(base) {
			background: var(--wa-color-neutral-90);
		}
	}

	.widget-array__handle {
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: space-between;
		height: 2rem;
		padding-left: var(--wa-space-2xs);
		margin: 0 var(--wa-space-m) 0 0;
		font-size: 1.25em;
		color: var(--wa-color-neutral-50);
		// cursor: grab;
		cursor: move;
		transition: opacity, var(--wa-transition-fast);

		&:hover {
			color: var(--wa-color-neutral-40);
			background: var(--wa-color-neutral-90);
			border-radius: var(--wa-border-radius-l);
			transition: var(--wa-transition-medium);
		}

		&:active {
			// cursor: grabbing;
			user-select: none;
		}

		.widget-array__handle-grip {
			display: flex;
			flex-grow: 1;
			justify-content: center;
		}
	}

	.widget-array__add-zone {
		display: flex;
		padding: var(--wa-space-2xl) var(--wa-space-2xl);
		border: 2px dashed var(--wa-color-neutral-90);
		border-radius: var(--wa-border-radius-l);
		box-shadow: var(--wa-shadow-l) inset;

		& > wa-button {
			width: 100%;
		}
	}
}
