/* TODO: */

.theme-webawesome.widget-checkbox-group {
	.help-text {
		font-size: var(--wa-input-help-text-font-size-medium);
		color: var(--wa-input-help-text-color);
	}

	.widget-checkbox-group__list {
		display: flex;
		flex-wrap: wrap;
		gap: var(--wa-space-l) var(--wa-space-2xl);
		justify-content: space-evenly;
		padding: var(--wa-space-m) var(--wa-space-xl);
	}
}
