:host {
	box-sizing: border-box;
	font: 16px var(--sl-font-sans);
	font-weight: var(--sl-font-weight-normal);
	line-height: var(--sl-line-height-normal);
	color: var(--sl-color-neutral-900);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	// NOTE: is it bad?
	--sl-input-focus-ring-color: var(--sl-color-primary-50);
}

// -----------------------------------------------------------------------------

// WIP: For system, might be ported for MWC and shoelace
::selection {
	color: var(--sl-color-primary-300);
	background-color: var(--sl-color-primary-950);
}

// -----------------------------------------------------------------------------

// NOTE: From shoelace docs examples

sl-input,
sl-select,
sl-checkbox {
	display: block;
	// margin-bottom: var(--sl-spacing-medium);
}

/* User invalid styles */
sl-input[data-user-invalid]::part(base),
sl-select[data-user-invalid]::part(combobox),
sl-checkbox[data-user-invalid]::part(control) {
	border-color: var(--sl-color-danger-600);
}

[data-user-invalid]::part(form-control-label),
[data-user-invalid]::part(form-control-help-text),
sl-checkbox[data-user-invalid]::part(label) {
	color: var(--sl-color-danger-700);
}

sl-checkbox[data-user-invalid]::part(control) {
	outline: none;
}

sl-input:focus-within[data-user-invalid]::part(base),
sl-select:focus-within[data-user-invalid]::part(combobox),
sl-checkbox:focus-within[data-user-invalid]::part(control) {
	border-color: var(--sl-color-danger-600);
	box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

// NOTE: Unused for now
// /* User valid styles */
// sl-input[data-user-valid]::part(base),
// sl-select[data-user-valid]::part(combobox),
// sl-checkbox[data-user-valid]::part(control) {
// 	border-color: var(--sl-color-success-600);
// }

// [data-user-valid]::part(form-control-label),
// [data-user-valid]::part(form-control-help-text),
// sl-checkbox[data-user-valid]::part(label) {
// 	color: var(--sl-color-success-700);
// }

// sl-checkbox[data-user-valid]::part(control) {
// 	background-color: var(--sl-color-success-600);
// 	outline: none;
// }

// sl-input:focus-within[data-user-valid]::part(base),
// sl-select:focus-within[data-user-valid]::part(combobox),
// sl-checkbox:focus-within[data-user-valid]::part(control) {
// 	border-color: var(--sl-color-success-600);
// 	box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-success-300);
// }
