.theme-material.widget-toggle {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 0.5rem;

	small {
		color: var(--md-sys-color-on-surface-variant);
	}

	user-select: none;

	& + & {
		border-top: 1px solid var(--md-sys-color-inverse-on-surface);
		margin-top: -0.5rem;
		padding-top: 1.5rem;
	}
}
